<div class="container text-center">
  <div class="row">
    <h3>‘Let food be your medicine’</h3>
    <p>Ayurveda shows you how</p>
  </div>
  <img class="flt-one" src="{{ 'pngegg.png' | file_url }}">
  <img class="flt-two" src="{{ 'turmeric.png' | file_url }}">
</div>


{% schema %}
{
  "name": "Food Medicine",
  "class": "food_medicine",
  "settings": [

  ]
}
{% endschema %}


