<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 col-md-2">
    </div>
    <div class="col-sm-12 col-md-8">
      <h3 class="title text-center">About the book</h3>
     <p>What is the one thing that decides how healthy or unhealthy we are? Or whether we are suffering from any health issues?</p>

<p>It is our habits. Ayurveda says that the food we eat, our eating habits, & our lifestyle play a key role in maintaining good health. The book 'Solvve Diet for Healthy Periods' helps you build exactly that.</p>

<p>This book aims to simplify Ayurvedic Sutras for women to stay fit & experience healthy periods because every woman is born with a default setting to have healthy periods.</p>

<p>This is not just another diet book but a PLAN - a simple plan that talks about easy-to-follow tips to help you live a healthy life & enjoy hassle-free periods, lifelong. It includes:</p>
     <div class="about-icon">
       <ul class="icon-box">
         <li>
           <img src="{{ 'Eating_Habits.png' | file_url }}" alt="5 Vedic Eating Habits">
           <p><b>5 Vedic Eating Habits</b></p>
         </li>
         <li>
           <img src="{{ 'Health_Foods.png' | file_url }}" alt="5 Vedic Health Foods">
           <p><b>5 Vedic Health Foods</b></p>
         </li>
         <li>
           <img src="{{ 'lifestyle.png' | file_url }}" alt="Vedic Lifestyle">
           <p><b>Vedic Lifestyle</b></p>
         </li>
       </ul>
     </div>
      <p>So if you have any menstrual issues like delayed, irregular periods, abnormal discharge before or after periods, scanty or heavy flow, unusual weight gain or any other health issues, the Solvve Diet book will help you get your menstrual & overall health back on track.</p>
    </div>
    <div class="col-sm-12 col-md-2">
    </div>
  </div>
  <img class="flt-img" src="{{ '183.png' | file_url }}">
</div>

{% schema %}
{
  "name": "About E-book",
  "class": "about_ebook",
  "settings": [

  ]
}
{% endschema %}

