<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2">
    </div>
    <div class="col-sm-12 col-md-8">
       <h1 class="title h3 text-center">Frequently Asked Questions</h1>
        <div class="acc-container">        
<div class="acc">
<div class="acc-head">
<p>Is this Solvve pcos supplement doctor approved?</p>
</div>
<div class="acc-content">
<p>Yes, Solvve is a doctor approved supplement to treat and manage the symptoms of PCOD PCOS. </p>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>Can Solvve pcos powder help with weight loss?</p>
</div>
<div class="acc-content">
  <p>Yes, Solvve is indigenously formulated with the following powerful herbs that are clinically proven to aid weight loss.</p>
  <ul>
    <li><b>Shatavari:</b> The  high flavonoid content makes it an effective weight loss supplement.</li>
    <li><b>Turmeric:</b> Stimulates the production of bile, a digestive juice to aid in the digestion and emulsification of fat.</li>
    <li><b>Pepper:</b> Contains fat-busting piperine which helps lose weight naturally.</li>
    <li><b>Cinnamon:</b>  Has  positive effect on blood glucose levels and helps your body  lose weight.</li>
  </ul>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>How long should I take <b>Solvve pcos weight loss supplement</b>?</p>
</div>
<div class="acc-content">
<p>It is recommended to take Solvve continuously for 84 days to regular your periods, speed up the weight loss journey, balance your hormones and improve your overall reproductive health.</p>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>Is it safe to take <b>PCOS supplements</b>?</p>
</div>
<div class="acc-content">
<p>Yes, it is 100% safe and effective to take Solvve PCOD PCOS supplements to manage various symptoms of PCOD PCOS like irregular periods, heavy flow, abnormal period pain, weight gain, 
  acne, and facial hair. All the ingredients used  - both modern formulations and ancient herbs are clinically tested for safety and efficacy and made in certified manufacturing units under hygienic conditions.</p>
</div>
</div>
  <div class="acc">
<div class="acc-head">
<p>Are there any side effects of taking <b>Solvve pcos supplements for weight loss</b>?</p>
</div>
<div class="acc-content">
<p>No, there are no side effects associated with Solvve. All the ingredients used  - both modern formulations and ancient herbs are clinically tested for safety and efficacy. In our clinical trials, there was 0% side effects reported.</p>
</div>
</div>
  <div class="acc">
<div class="acc-head">
<p>Are there age restriction for taking Solvve pcos supplements?</p>
</div>
<div class="acc-content">
<p> Girls above 17 years and women of reproductive age with PCOD PCOS condition can take Solvve to manage the symptoms in a holistic way.</p>
</div>
</div>
</div>
    </div>
    <div class="col-sm-12 col-md-2">
    </div>
  </div>
</div>


{% schema %}
{
  "name": "FAQ",
  "class": "faq",
  "settings": [

  ]
}
{% endschema %}
<script>
  $(document).ready(function() {
$('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
$('.acc-container .acc:nth-child(1) .acc-content').slideDown();
$('.acc-head').on('click', function() {
    if($(this).hasClass('active')) {
      $(this).siblings('.acc-content').slideUp();
      $(this).removeClass('active');
    }
    else {
      $('.acc-content').slideUp();
      $('.acc-head').removeClass('active');
      $(this).siblings('.acc-content').slideToggle();
      $(this).toggleClass('active');
    }
});     
});
</script>
<style>
.faq{
padding:30px 0;
}
.faq .title {
    color: #540863;
    padding-bottom: 18px;
}
.acc-container {
  width: 100%;
}

.acc {
  margin-bottom: 10px;
}

.acc-head {
    border-bottom: 1px solid #DCDCDC;
    background-color: rgb(155 154 87 / 0%);
    padding: 15px 10px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

 .acc-head::before, .acc-head::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #F86385;
    transition: all .3s;
}
 .acc-head::before {
  right: 30px;
  width: 3px;
  height: 20px;
  margin-top: -10px;
}

.acc-head::after {
  right: 21px;
  width: 20px;
  height: 3px;
  margin-top: -2px;
}

.acc-head h3 {
  color: #550863;
    font-weight: bold;
}

.acc-content {
  padding: 15px 10px;
  display: none;
}
        
.acc-head.active::before {
    transform: rotate(90deg);
}
</style>
