<footer>
  <div class="footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="subcri-title">STAY IN TOUCH</h3>
        <p>Join our list for exclusive access to discounts,<br>
            product launches, and real talk on PCOS/PCOD.</p>
      </div>
      <div class="col-sm-12 col-md-6">
      
<div class="newsletter outer relative pv1 ts1">
  <div class="absolute fit-x">
    <div class="gradient-background absolute fit-x bg-c1"></div>
  </div>
  <div class="container--s mha relative tsx mv1">
    <div class="newsletter__inner mha w1 flex flex-items-center flex-wrap">
      <div class="w1 w12_m" data-component="newsletter-form">
        <div id="newsletterSuccess" class="newsletter__success hide cw fit-x p" style="display:none">Thanks for signing up!</div>
        {% if settings.mailchimp_url != blank %}
          <form target="_blank" action="{{ settings.mailchimp_url }}" method="post">
            <div class="flex flex-items-start">
              <div class="newsletter__field flex-auto relative">
                <input id="newsletterEmail" class="w1" required name="EMAIL" type="email" placeholder="Email Address" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off">
                <span class="form-error absolute fit-l italic cw p00 hide">Email is invalid</span>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b075be5b166b58f7abfca70eb_84b14e6b78" tabindex="-1" value=""></div>
              </div>
              <button type="submit" class="button button--dark">Subscribe</button>
            </div>
          </form>
        {% else %}
          {% form 'customer' %}
            {% if form.posted_successfully? %}
              <div id="newsletterSuccess" class="newsletter__success cw mv05"><p>Thank you for signing up!</p></div>
            {% else %}
              <div class="flex flex-items-start">
                <div class="newsletter__field flex-auto">
                  <input id="newsletterEmail" class="w1" name="contact[email]" type="email" placeholder="Email Address" required value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off">
                </div>

                <button type="submit" class="button button--dark">Subscribe</button>
              </div>
              {% if form.errors %}
                <p class="newsletter__error align-c c3 mt05">*Invalid email address, try again.</p>
              {% endif %}
            {% endif %}
          {% endform %}

        {% endif %}
      </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-main">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <svg class="footer-logo" width="217" height="45" viewBox="0 0 217 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M181.313 41.4007C188.828 41.4007 194.92 35.3086 194.92 27.7938C194.92 20.2789 188.828 14.1868 181.313 14.1868C173.799 14.1868 167.707 20.2789 167.707 27.7938C167.707 35.3086 173.799 41.4007 181.313 41.4007Z" fill="#FFDD9B"></path>
          <path d="M10.6032 44.6023C9.46741 44.6024 8.34028 44.4043 7.27251 44.0171C6.15193 43.6355 5.10212 43.0714 4.16556 42.3474C2.11491 40.7472 0.650484 38.5143 0 35.9958L1.48032 35.3675C1.75332 36.4984 2.19737 37.5809 2.79712 38.5778C3.35524 39.4868 4.05887 40.298 4.8799 40.979C5.669 41.6559 6.57646 42.1812 7.55652 42.5282C8.57739 42.8965 9.65569 43.0801 10.7409 43.0704C11.8435 43.0869 12.9408 42.9152 13.9856 42.5626C14.9302 42.2448 15.8062 41.7513 16.5676 41.1081C17.3143 40.4816 17.9163 39.7005 18.3319 38.8187C18.7715 37.8579 18.992 36.8114 18.9774 35.7548C18.9989 34.8605 18.8173 33.9729 18.4461 33.1589C18.0749 32.3449 17.5238 31.6258 16.8344 31.0557C15.1245 29.7027 13.182 28.6731 11.1024 28.0176L9.09709 27.3032C8.10774 26.9417 7.13942 26.5251 6.19669 26.0553C5.30061 25.6243 4.46685 25.0742 3.71802 24.42C2.99595 23.8112 2.40956 23.0577 1.99671 22.2082C1.53687 21.2661 1.31242 20.2265 1.34262 19.1787C1.34014 18.1123 1.56918 17.0581 2.01393 16.0889C2.4511 15.1061 3.09038 14.2263 3.89015 13.507C4.7212 12.7611 5.68449 12.1772 6.7303 11.7857C7.87589 11.3361 9.09725 11.1111 10.3278 11.123C11.5992 11.097 12.8639 11.3132 14.0544 11.7598C15.041 12.1309 15.9577 12.6664 16.7655 13.3434C17.477 13.9259 18.0952 14.6138 18.5987 15.3832C19.0108 16.0195 19.3487 16.701 19.6057 17.4143L18.0823 18.077C17.8835 17.4134 17.5908 16.7816 17.213 16.2008C16.7895 15.5398 16.2704 14.9452 15.6725 14.4365C14.9916 13.8675 14.213 13.4271 13.3745 13.1369C12.3979 12.7853 11.3657 12.6133 10.3278 12.6291C9.35218 12.6182 8.38217 12.7784 7.46185 13.1025C6.6131 13.4066 5.83234 13.8745 5.16391 14.4795C4.48486 15.0543 3.93618 15.7673 3.55449 16.5709C3.16156 17.3958 2.96143 18.2994 2.96925 19.2131C2.95385 20.029 3.1401 20.836 3.51146 21.5627C3.88187 22.2537 4.38491 22.865 4.99178 23.3614C5.64885 23.9291 6.37461 24.412 7.15202 24.7987C8.01282 25.2436 8.90445 25.6262 9.82004 25.9434L11.92 26.7008C13.0641 27.1251 14.1846 27.6107 15.2766 28.1553C16.2829 28.6382 17.223 29.2485 18.0737 29.9712C18.8383 30.6481 19.4689 31.4627 19.9327 32.3725C20.3997 33.3494 20.6297 34.4227 20.604 35.5052C20.6481 36.9089 20.3529 38.3024 19.7434 39.5675C19.1909 40.6638 18.4103 41.6293 17.454 42.3991C16.5132 43.182 15.4244 43.7674 14.2524 44.1204C13.0679 44.467 11.8371 44.6295 10.6032 44.6023Z" fill="black"></path>
          <path d="M49.5477 44.6023C47.3819 44.6286 45.2343 44.2054 43.2403 43.3596C41.2464 42.5137 39.4496 41.2635 37.9633 39.688C36.527 38.1382 35.3968 36.3306 34.6326 34.3605C32.989 30.1964 32.989 25.5633 34.6326 21.3991C35.4156 19.4287 36.5598 17.6219 38.0064 16.0717C39.467 14.536 41.2237 13.3122 43.1703 12.4742C45.2109 11.6034 47.4065 11.1546 49.6252 11.1546C51.8438 11.1546 54.0394 11.6034 56.0801 12.4742C58.0294 13.3074 59.7869 14.5318 61.244 16.0717C62.6618 17.6177 63.7822 19.4121 64.5489 21.3647C66.1839 25.5305 66.1839 30.1603 64.5489 34.3261C63.7627 36.2969 62.6156 38.1037 61.1665 39.6535C59.6767 41.2363 57.8752 42.4932 55.8754 43.3449C53.8757 44.1966 51.7212 44.6248 49.5477 44.6023ZM49.5477 43.0875C51.4707 43.106 53.3775 42.7342 55.1527 41.9945C56.9279 41.2549 58.5346 40.1628 59.8755 38.7843C61.225 37.3963 62.2971 35.7633 63.0341 33.9732C63.8201 32.0453 64.2094 29.9788 64.1788 27.897C64.2011 25.8328 63.812 23.7847 63.0341 21.8725C62.2975 20.077 61.2255 18.4384 59.8755 17.0442C58.5695 15.6929 57.0109 14.611 55.2882 13.8598C52.6332 12.7122 49.6912 12.4022 46.8553 12.9713C44.0194 13.5403 41.4247 14.9612 39.4178 17.0442C38.0678 18.4366 36.9983 20.0758 36.2678 21.8725C35.4873 23.7842 35.0952 25.8322 35.1146 27.897C35.0867 29.9794 35.4789 32.0459 36.2678 33.9732C37.0018 35.763 38.0709 37.3959 39.4178 38.7843C40.7259 40.135 42.2877 41.2142 44.0137 41.9601C45.765 42.6974 47.6476 43.0722 49.5477 43.0617V43.0875Z" fill="black"></path>
          <path d="M80.2385 11.8459H81.8479V42.3388H96.9696V43.8708H80.2385V11.8459Z" fill="black"></path>
          <path d="M105 11.8459H106.772L117.419 40.9962H117.608L128.607 11.8459H130.397L118.124 43.8708H116.825L105 11.8459Z" fill="black"></path>
          <path d="M140.527 11.8459H142.317L152.955 40.9962H153.136L164.143 11.8459H165.934L153.635 43.8708H152.335L140.527 11.8459Z" fill="black"></path>
          <path d="M180.737 13.3607V27.1311H195.153V28.6458H180.737V42.4163H196.573V43.9482H179.128V11.8459H196.564V13.3607H180.737Z" fill="black"></path>
          <path d="M206.869 5.04013V4.66197H209.184V5.04013H208.147L208.246 4.93868V7.59964H207.808V4.93868L207.904 5.04013H206.869Z" fill="black"></path>
          <path d="M209.66 4.66197H210.29L211.221 6.59198H211.18L212.111 4.66197H212.72V7.59964H212.277V5.1439H212.349L211.343 7.25146H211.055L210.054 5.15543H210.098V7.59964H209.66V4.66197Z" fill="black"></path>
          <path d="M210.121 0.709061C208.956 0.709061 207.818 1.05432 206.85 1.70118C205.882 2.34803 205.128 3.26743 204.682 4.34312C204.236 5.4188 204.12 6.60245 204.347 7.74439C204.574 8.88633 205.135 9.93527 205.958 10.7586C206.781 11.5819 207.83 12.1425 208.972 12.3697C210.114 12.5968 211.298 12.4802 212.374 12.0347C213.449 11.5891 214.369 10.8346 215.015 9.86648C215.662 8.89839 216.008 7.76023 216.008 6.59592C216.005 5.03533 215.384 3.5393 214.281 2.4358C213.177 1.33229 211.681 0.711337 210.121 0.709061V0.709061ZM210.121 12.1643C209.019 12.166 207.942 11.8409 207.025 11.2301C206.108 10.6192 205.393 9.75018 204.97 8.73283C204.547 7.71549 204.436 6.59559 204.65 5.51486C204.864 4.43413 205.393 3.44113 206.172 2.66151C206.95 1.88189 207.942 1.35069 209.023 1.13514C210.103 0.919578 211.223 1.02935 212.241 1.45055C213.259 1.87176 214.129 2.58547 214.742 3.50138C215.354 4.41729 215.681 5.49423 215.681 6.59592C215.681 8.07127 215.095 9.48631 214.053 10.5303C213.01 11.5744 211.596 12.1621 210.121 12.1643Z" fill="black"></path>
          </svg>
        </div>
        <div class="col-md-6 col-sm-12">
          <ul class="footer-menu">
            <li><a href="/products/pcos-pcod">Shop</a></li>
            <li><a href="/blogs/blog">Blog</a></li>
            <li><a href="/pages/about-us">Who We Are</a></li>
            <li><a href="/pages/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12">
          <ul class="footer-icon">
            <li>
              <a href="https://www.facebook.com/solvveforwomen/"  target="_blank">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M35.38 17.69C35.38 7.92 27.46 0 17.69 0C7.92 0 0 7.92 0 17.69C0 26.52 6.47 33.84 14.93 35.17V22.8H10.44V17.69H14.93V13.79C14.93 9.36 17.57 6.91 21.61 6.91C23.55 6.91 25.57 7.26 25.57 7.26V11.61H23.34C21.14 11.61 20.46 12.97 20.46 14.37V17.69H25.37L24.59 22.8H20.47V35.16C28.91 33.84 35.38 26.52 35.38 17.69Z" fill="#337FFF"/></path>
              <path d="M24.5799 22.8002L25.3599 17.6902H20.4499V14.3702C20.4499 12.9702 21.1399 11.6102 23.3299 11.6102H25.5599V7.26016C25.5599 7.26016 23.5399 6.91016 21.5999 6.91016C17.5599 6.91016 14.9199 9.36016 14.9199 13.7902V17.6902H10.4299V22.8002H14.9199V35.1602C15.8199 35.3002 16.7399 35.3802 17.6799 35.3802C18.6199 35.3802 19.5399 35.3102 20.4399 35.1602V22.8002H24.5799Z" fill="white"/></path>
              </svg>
              </a>  
            </li>
            <li>
              <a href="https://www.instagram.com/trysolvve/"  target="_blank">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.69 35.38C27.4599 35.38 35.38 27.4599 35.38 17.69C35.38 7.92008 27.4599 0 17.69 0C7.92008 0 0 7.92008 0 17.69C0 27.4599 7.92008 35.38 17.69 35.38Z" fill="url(#paint0_linear_218_666)"/></path>
                <path d="M23.18 11C22.51 11 21.96 11.54 21.96 12.22C21.96 12.89 22.5 13.44 23.18 13.44C23.85 13.44 24.4 12.9 24.4 12.22C24.4 11.54 23.85 11 23.18 11Z" fill="white"/></path>
                <path d="M17.7802 12.5596C14.9602 12.5596 12.6702 14.8496 12.6702 17.6696C12.6702 20.4896 14.9602 22.7796 17.7802 22.7796C20.6002 22.7796 22.8902 20.4896 22.8902 17.6696C22.8802 14.8496 20.5902 12.5596 17.7802 12.5596ZM17.7802 20.9396C15.9802 20.9396 14.5102 19.4696 14.5102 17.6696C14.5102 15.8696 15.9802 14.3996 17.7802 14.3996C19.5802 14.3996 21.0502 15.8696 21.0502 17.6696C21.0502 19.4696 19.5802 20.9396 17.7802 20.9396Z" fill="white"/></path>
                <path d="M21.8301 28.0398H13.5501C10.1101 28.0398 7.32007 25.2398 7.32007 21.8098V13.5298C7.32007 10.0898 10.1101 7.2998 13.5501 7.2998H21.8301C25.2701 7.2998 28.0601 10.0898 28.0601 13.5298V21.8098C28.0601 25.2398 25.2701 28.0398 21.8301 28.0398ZM13.5501 9.24981C11.1901 9.24981 9.27007 11.1698 9.27007 13.5298V21.8098C9.27007 24.1698 11.1901 26.0898 13.5501 26.0898H21.8301C24.1901 26.0898 26.1101 24.1698 26.1101 21.8098V13.5298C26.1101 11.1698 24.1901 9.24981 21.8301 9.24981H13.5501Z" fill="white"/></path>
                <defs>
                <linearGradient id="paint0_linear_218_666" x1="1.1196" y1="3.6966" x2="36.4942" y2="33.5739" gradientUnits="userSpaceOnUse">
                <stop offset="0.0011048" stop-color="#FBE18A"/>
                <stop offset="0.2094" stop-color="#FCBB45"/>
                <stop offset="0.3765" stop-color="#F75274"/>
                <stop offset="0.5238" stop-color="#D53692"/>
                <stop offset="0.7394" stop-color="#8F39CE"/>
                <stop offset="1" stop-color="#5B4FE9"/>
                </linearGradient>
                </defs>
              </svg>
                </a>
           </li>
            <li>
              <a href="https://twitter.com/trysolvve"  target="_blank"><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.69 35.38C27.4599 35.38 35.38 27.4599 35.38 17.69C35.38 7.92008 27.4599 0 17.69 0C7.92008 0 0 7.92008 0 17.69C0 27.4599 7.92008 35.38 17.69 35.38Z" fill="#33CCFF"/></path>
              <path d="M27.47 11.63C26.86 11.91 26.18 12.08 25.52 12.19C25.83 12.14 26.29 11.57 26.48 11.34C26.76 10.99 27 10.59 27.13 10.16C27.15 10.13 27.16 10.08 27.13 10.06C27.09 10.04 27.06 10.05 27.03 10.07C26.29 10.47 25.53 10.75 24.72 10.96C24.65 10.98 24.6 10.96 24.56 10.92C24.49 10.84 24.43 10.77 24.36 10.71C24.02 10.42 23.65 10.19 23.24 10.02C22.7 9.79998 22.11 9.70998 21.52 9.73998C20.95 9.77998 20.39 9.93998 19.89 10.2C19.38 10.46 18.93 10.83 18.57 11.27C18.2 11.73 17.92 12.27 17.78 12.84C17.64 13.39 17.66 13.94 17.74 14.5C17.75 14.59 17.74 14.61 17.66 14.59C14.48 14.12 11.85 12.98 9.70998 10.54C9.61998 10.43 9.56998 10.43 9.48998 10.55C8.54998 11.95 9.00998 14.21 10.18 15.31C10.34 15.46 10.5 15.61 10.67 15.74C10.61 15.75 9.82998 15.67 9.13998 15.31C9.04998 15.25 8.99998 15.28 8.98998 15.39C8.97998 15.54 8.98998 15.68 9.01998 15.85C9.19998 17.27 10.18 18.59 11.53 19.1C11.69 19.17 11.87 19.23 12.04 19.26C11.73 19.33 11.42 19.38 10.54 19.31C10.43 19.29 10.39 19.34 10.43 19.45C11.09 21.25 12.52 21.79 13.59 22.1C13.73 22.12 13.88 22.12 14.02 22.16C14.01 22.17 14 22.17 13.99 22.19C13.63 22.73 12.4 23.13 11.83 23.33C10.79 23.69 9.64998 23.86 8.54998 23.75C8.36998 23.72 8.33998 23.73 8.28998 23.75C8.23998 23.78 8.27998 23.82 8.33998 23.87C8.55998 24.02 8.78998 24.15 9.01998 24.27C9.71998 24.64 10.45 24.94 11.21 25.15C15.15 26.24 19.59 25.44 22.54 22.5C24.86 20.19 25.68 17.01 25.68 13.82C25.68 13.7 25.83 13.63 25.91 13.56C26.51 13.11 27 12.56 27.45 11.96C27.55 11.82 27.55 11.7 27.55 11.65C27.55 11.64 27.55 11.63 27.55 11.63C27.54 11.58 27.54 11.6 27.47 11.63Z" fill="white"/></path>
              </svg></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCVTwEN25WNUxvwLJMJBfH6g/featured"  target="_blank"><svg width="36" height="36" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z" fill="#FF0000"/>
              <path d="M19.9592 11.1408C19.9592 9.41385 18.5629 8.01758 16.8359 8.01758H8.85517C7.1282 8.01758 5.73193 9.41385 5.73193 11.1408V14.8593C5.73193 16.5863 7.1282 17.9825 8.85517 17.9825H16.8359C18.5629 17.9825 19.9592 16.5863 19.9592 14.8593V11.1408ZM15.2633 13.2793L11.6844 15.0504C11.5448 15.1239 11.0672 15.021 11.0672 14.8667V11.229C11.0672 11.0673 11.5448 10.9644 11.6918 11.0453L15.1163 12.9119C15.2633 12.9927 15.4103 13.1985 15.2633 13.2793Z" fill="white"/>
              </svg></a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="pnk">
    </div>
              
    <div class="container pd-20">
      <div class="row">
        <div class="col-md-5   col-sm-12">
          <div class="cpy-cnt">
            <p class="copyright"><b>Get Solvve © 2022. All Rights Reserved.</b></p>
            <p>Solvve is a women wellness brand that aims to help you reclaim control over your health by blocking out the confusing information you're flooded with on a daily basis.</p>
          </div>
        </div>
          <div class="col-md-1 col-lg-3 col-sm-12">
          </div>
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="address-box">
            <div class="add-box-1">
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.1423 28.2847C21.9529 28.2847 28.2847 21.9529 28.2847 14.1423C28.2847 6.33174 21.9529 0 14.1423 0C6.33174 0 0 6.33174 0 14.1423C0 21.9529 6.33174 28.2847 14.1423 28.2847Z" fill="#F86385"/>
              <path d="M14.1424 4.70801C10.1211 4.70801 6.85938 7.96979 6.85938 11.991C6.85938 15.4207 12.1598 21.6325 13.7187 23.3833C13.9505 23.6391 14.3423 23.6391 14.5741 23.3833C16.133 21.6325 21.4334 15.4207 21.4334 11.991C21.4254 7.96979 18.1637 4.70801 14.1424 4.70801ZM14.1424 15.2448C12.1598 15.2448 10.5369 13.6299 10.5369 11.6393C10.5369 9.65664 12.1518 8.03374 14.1424 8.03374C16.125 8.03374 17.7479 9.64864 17.7479 11.6393C17.7479 13.6299 16.133 15.2448 14.1424 15.2448Z" fill="white"/>
              </svg>
            </div>
            <div class="add-box-2">128D, Duraiswamy Layout, Peelamedu, Coimbatore, Tamil Nadu, 641004.</div>
          </div>
          <div class="address-box">
            <div class="add-box-1">
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.1423 28.2847C21.9529 28.2847 28.2847 21.9529 28.2847 14.1423C28.2847 6.33174 21.9529 0 14.1423 0C6.33174 0 0 6.33174 0 14.1423C0 21.9529 6.33174 28.2847 14.1423 28.2847Z" fill="#F86385"/>
              <path d="M20.5372 18.4354V7.01922C20.5372 5.74809 19.5059 4.7168 18.2347 4.7168H10.0563C8.7852 4.7168 7.75391 5.74809 7.75391 7.01922V18.4434H20.5372V18.4354ZM14.1415 6.14782C14.5253 6.14782 14.8371 6.45961 14.8371 6.84334C14.8371 7.22708 14.5253 7.53887 14.1415 7.53887C13.7578 7.53887 13.446 7.22708 13.446 6.84334C13.454 6.45961 13.7578 6.14782 14.1415 6.14782Z" fill="white"/>
              <path d="M7.74609 19.8181V21.2731C7.74609 22.5443 8.77739 23.5835 10.0485 23.5835H18.2269C19.4981 23.5835 20.5294 22.5522 20.5294 21.2731V19.8181H7.74609ZM14.1417 22.2964C13.758 22.2964 13.4462 21.9846 13.4462 21.6009C13.4462 21.2172 13.758 20.9054 14.1417 20.9054C14.5255 20.9054 14.8372 21.2172 14.8372 21.6009C14.8372 21.9846 14.5255 22.2964 14.1417 22.2964Z" fill="white"/>
              </svg>
            </div>
            <div class="add-box-2">+91 7094 958 398</div>
          </div>
            <div class="address-box">
            <div class="add-box-1">
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.1423 28.2847C21.9529 28.2847 28.2847 21.9529 28.2847 14.1423C28.2847 6.33174 21.9529 0 14.1423 0C6.33174 0 0 6.33174 0 14.1423C0 21.9529 6.33174 28.2847 14.1423 28.2847Z" fill="#F86385"/>
            <path d="M6.11517 7.08372L12.6707 14.5266C13.0464 14.9503 13.5821 15.1902 14.1417 15.1902C14.7013 15.1902 15.2449 14.9503 15.6127 14.5266L22.0563 7.21962C22.1122 7.15567 22.1762 7.1157 22.2401 7.07573C21.9683 6.95581 21.6645 6.89185 21.3528 6.89185H6.93061C6.62682 6.89185 6.33902 6.95581 6.0752 7.05974C6.09118 7.05974 6.09918 7.06773 6.11517 7.08372Z" fill="white"/>
            <path d="M23.2315 7.9231C23.1996 7.99505 23.1596 8.07498 23.1036 8.13894L16.66 15.446C16.0205 16.1735 15.1011 16.5892 14.1337 16.5892C13.1664 16.5892 12.247 16.1735 11.6075 15.446L5.05196 8.00303C5.03597 7.98704 5.02797 7.97106 5.01998 7.95507C4.82011 8.29084 4.7002 8.68257 4.7002 9.10628V19.1794C4.7002 20.4106 5.69951 21.4099 6.93067 21.4099H21.3448C22.576 21.4099 23.5753 20.4106 23.5753 19.1794V9.10628C23.5753 8.66658 23.4474 8.26686 23.2315 7.9231Z" fill="white"/>
            </svg>
            </div>
            <div class="add-box-2">hello@getsolvve.com</div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
</div>
 <div class="container">
   <hr class="pnk">
   <div class="row">
     <ul class="btm-menu">
       <li><a href="https://getsolvve.com/pages/faq">FAQ</a></li>
       <li><a href="https://getsolvve.com/pages/book-a-consultation">Book A Consultation</a></li>
       <li><a href="https://getsolvve.com/pages/shipping-and-returns">Shipping and Returns</a></li>
       <li><a href="https://getsolvve.com/pages/terms-and-conditions">Terms and Conditions</a></li>
       <li><a href="https://getsolvve.com/pages/privacy-policy">Privacy Policy</a></li>
     </ul>
   </div>
 </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}


