{% capture slider_options %}
  { "cellAlign": "left", "contain": true, "pageDots": false, "autoPlay": true, "prevNextButtons": false }{% endcapture %}

<div class="container">
  <div class="col-12">
    <div class="h1-ttl">Solvve PCOD and PCOS supplement</div>
  </div>
  <div class="pr-section">
    <div class="col-12 pr-box">
      <h3 class="title">{{ section.settings.title }}</h3>
      <p class="sub-title mb-4">{{ section.settings.sub-title }}</p>
      <div class="my-slider-2 col-12" data-flickity='{{ slider_options }}'>
        {%- for block in section.blocks -%}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="pr-box-in">
              <div class="pr-img-box">
                {% render 'image', class: '', mobileSrc: block.settings.pr-image, desktopSrc: block.settings.pr-image %}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Section One",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }, {
        "type": "text",
        "id": "sub-title",
        "label": "Section Sub Title"
      }
    ],
    "blocks": [
      {
        "name": "PR Section",
        "type": "pr_section",
        "settings": [
          {
            "type": "text",
            "id": "pr-content",
            "label": "PR Content"
          }, {
            "type": "image_picker",
            "id": "pr-image",
            "label": "PR logo"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  #shopify-section-home_section_one {
    position: relative;
  }
  .h1-ttl {
    color: transparent;
    position: absolute;
  }
</style>