<div class="container">
  <div class="row g-0">
    <div
      class="col-sm-12 col-md-6">
      <img
        loading="lazy"
        class="image"
        src="{{ section.settings.image | img_url:'master' }}"
        width="520"
        height="640"
        alt="{{ section.settings.image.alt | default: shop.name | escape }}">
    </div>
    <div class="col-sm-12 col-md-6">
      <h3 class="title">{{ section.settings.title }}</h3>
      <p>{{ section.settings.content_one }}</p>
      <h5 class="sub-ttl">Here’s what we offer:</h5>
      <ul class="mb-5">
        <li>Solvve’s EBook:</li>
        <li>By choosing Solvve you are choosing HOPE!</li>
        <li>This 42-page guide is your step towards a healthy tomorrow.</li>
        <li>What can you learn?
          <ol>
            <li>Overview of PCOS its causes and signs.</li>
            <li>Answers to most asked questions of PCOS.</li>
            <li>Diet for PCOS.</li>
            <li>And many more.</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  .image {
    width: 100%;
    height: auto;
  }
</style>
{% schema %}
  {
    "name": "Home Section Two",
    "class": "home_section_two",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "text",
        "id": "content_one",
        "label": "Content"
      }
    ]
  }
{% endschema %}