<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <h3 class="title text-center">Why SOLVVE Is Simply The Best?</h3>
      <div class="comp-box container">
        <div class="row">
          <div class="col-sm-12 col-md-2"></div>
          <div class="col-sm-12 col-md-8">
            <div class="row">
              <div class="col-6">
                <div class="comp-box-ttl">
                  <p>Solvve Advantages</p>
                </div>
              </div>
              <div class="col-6">
                <div class="comp-box-ttl-two">
                  <p>Ordinary Products</p>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Enriched with 8+ plant extracts</p>
                  </div>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                    <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.0021 0C8.51932 -0.00143051 -0.00714858 8.53076 4.49739e-06 19.0157C0.00715757 29.485 8.52647 37.9986 18.9971 38C29.4835 38.0014 38.0079 29.4714 38 18.985C37.9921 8.51502 29.4728 0.00143051 19.0021 0ZM18.9585 22.0587C18.8398 22.2031 18.7575 22.3219 18.6567 22.4227C17.0086 24.0744 15.3591 25.7239 13.7089 27.3727C13.2446 27.8362 12.8863 27.8405 12.4249 27.3834C11.8412 26.8054 11.2625 26.2225 10.6817 25.6416C10.1373 25.0973 10.1373 24.7833 10.6888 24.231C12.3298 22.5894 13.9714 20.9485 15.6123 19.3069C15.7103 19.2089 15.8026 19.1066 15.9542 18.9464C15.8119 18.8376 15.6867 18.7625 15.5866 18.6631C13.9263 17.0072 12.2682 15.3491 10.6109 13.6903C10.1652 13.2446 10.1638 12.8805 10.608 12.432C11.186 11.8484 11.769 11.2697 12.3498 10.6896C12.9006 10.1395 13.216 10.1359 13.7611 10.6803C15.4113 12.329 17.0608 13.9793 18.711 15.6288C18.8011 15.7189 18.897 15.8026 19.0043 15.902C19.1173 15.794 19.2124 15.7074 19.3033 15.6159C20.9535 13.9664 22.6023 12.3162 24.2525 10.6667C24.779 10.1402 25.103 10.1431 25.6388 10.6767C26.1953 11.2318 26.7504 11.7876 27.3054 12.3433C27.8677 12.9063 27.867 13.2132 27.2997 13.7804C25.6588 15.422 24.0172 17.0629 22.3763 18.7046C22.2861 18.7947 22.201 18.8906 22.0987 19C22.2024 19.1102 22.2883 19.2053 22.3791 19.2961C24.0451 20.9628 25.7124 22.6288 27.3777 24.2961C27.8369 24.7561 27.8369 25.1166 27.377 25.5808C26.8155 26.1474 26.2496 26.7096 25.686 27.2732C25.083 27.8755 24.7976 27.877 24.1989 27.2783C22.5572 25.6373 20.9163 23.9957 19.2747 22.3548C19.1931 22.274 19.1052 22.1967 18.9585 22.0587Z" fill="#C92121"/>
</svg>

                  </div>
                  <div class="comp-cnt">
                    <p>Contains zero or only a few herbs</p>
                  </div>
                </div>
              </div>

              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Delicious tangy orange flavour</p>
                  </div>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                    <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.0021 0C8.51932 -0.00143051 -0.00714858 8.53076 4.49739e-06 19.0157C0.00715757 29.485 8.52647 37.9986 18.9971 38C29.4835 38.0014 38.0079 29.4714 38 18.985C37.9921 8.51502 29.4728 0.00143051 19.0021 0ZM18.9585 22.0587C18.8398 22.2031 18.7575 22.3219 18.6567 22.4227C17.0086 24.0744 15.3591 25.7239 13.7089 27.3727C13.2446 27.8362 12.8863 27.8405 12.4249 27.3834C11.8412 26.8054 11.2625 26.2225 10.6817 25.6416C10.1373 25.0973 10.1373 24.7833 10.6888 24.231C12.3298 22.5894 13.9714 20.9485 15.6123 19.3069C15.7103 19.2089 15.8026 19.1066 15.9542 18.9464C15.8119 18.8376 15.6867 18.7625 15.5866 18.6631C13.9263 17.0072 12.2682 15.3491 10.6109 13.6903C10.1652 13.2446 10.1638 12.8805 10.608 12.432C11.186 11.8484 11.769 11.2697 12.3498 10.6896C12.9006 10.1395 13.216 10.1359 13.7611 10.6803C15.4113 12.329 17.0608 13.9793 18.711 15.6288C18.8011 15.7189 18.897 15.8026 19.0043 15.902C19.1173 15.794 19.2124 15.7074 19.3033 15.6159C20.9535 13.9664 22.6023 12.3162 24.2525 10.6667C24.779 10.1402 25.103 10.1431 25.6388 10.6767C26.1953 11.2318 26.7504 11.7876 27.3054 12.3433C27.8677 12.9063 27.867 13.2132 27.2997 13.7804C25.6588 15.422 24.0172 17.0629 22.3763 18.7046C22.2861 18.7947 22.201 18.8906 22.0987 19C22.2024 19.1102 22.2883 19.2053 22.3791 19.2961C24.0451 20.9628 25.7124 22.6288 27.3777 24.2961C27.8369 24.7561 27.8369 25.1166 27.377 25.5808C26.8155 26.1474 26.2496 26.7096 25.686 27.2732C25.083 27.8755 24.7976 27.877 24.1989 27.2783C22.5572 25.6373 20.9163 23.9957 19.2747 22.3548C19.1931 22.274 19.1052 22.1967 18.9585 22.0587Z" fill="#C92121"/>
</svg>

                  </div>
                  <div class="comp-cnt">
                    <p>Smells and tastes like medicines</p>
                  </div>
                </div>
              </div>

              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Clinically tested & Doctor approved</p>
                  </div>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Clinically tested & Doctor approved</p>
                  </div>
                </div>
              </div>

              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Vegan & plant based</p>
                  </div>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                    <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.0021 0C8.51932 -0.00143051 -0.00714858 8.53076 4.49739e-06 19.0157C0.00715757 29.485 8.52647 37.9986 18.9971 38C29.4835 38.0014 38.0079 29.4714 38 18.985C37.9921 8.51502 29.4728 0.00143051 19.0021 0ZM18.9585 22.0587C18.8398 22.2031 18.7575 22.3219 18.6567 22.4227C17.0086 24.0744 15.3591 25.7239 13.7089 27.3727C13.2446 27.8362 12.8863 27.8405 12.4249 27.3834C11.8412 26.8054 11.2625 26.2225 10.6817 25.6416C10.1373 25.0973 10.1373 24.7833 10.6888 24.231C12.3298 22.5894 13.9714 20.9485 15.6123 19.3069C15.7103 19.2089 15.8026 19.1066 15.9542 18.9464C15.8119 18.8376 15.6867 18.7625 15.5866 18.6631C13.9263 17.0072 12.2682 15.3491 10.6109 13.6903C10.1652 13.2446 10.1638 12.8805 10.608 12.432C11.186 11.8484 11.769 11.2697 12.3498 10.6896C12.9006 10.1395 13.216 10.1359 13.7611 10.6803C15.4113 12.329 17.0608 13.9793 18.711 15.6288C18.8011 15.7189 18.897 15.8026 19.0043 15.902C19.1173 15.794 19.2124 15.7074 19.3033 15.6159C20.9535 13.9664 22.6023 12.3162 24.2525 10.6667C24.779 10.1402 25.103 10.1431 25.6388 10.6767C26.1953 11.2318 26.7504 11.7876 27.3054 12.3433C27.8677 12.9063 27.867 13.2132 27.2997 13.7804C25.6588 15.422 24.0172 17.0629 22.3763 18.7046C22.2861 18.7947 22.201 18.8906 22.0987 19C22.2024 19.1102 22.2883 19.2053 22.3791 19.2961C24.0451 20.9628 25.7124 22.6288 27.3777 24.2961C27.8369 24.7561 27.8369 25.1166 27.377 25.5808C26.8155 26.1474 26.2496 26.7096 25.686 27.2732C25.083 27.8755 24.7976 27.877 24.1989 27.2783C22.5572 25.6373 20.9163 23.9957 19.2747 22.3548C19.1931 22.274 19.1052 22.1967 18.9585 22.0587Z" fill="#C92121"/>
</svg>

                  </div>
                  <div class="comp-cnt">
                    <p>Contains animal products</p>
                  </div>
                </div>
              </div>

              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                   <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.07741e-05 18.9958C0.0110538 8.5024 8.57621 -0.0431584 19.0382 0.000163996C29.5461 0.0434864 38.0136 8.53553 38 19.0162C37.9855 29.5342 29.462 38.0398 18.9745 37.9999C8.46833 37.9608 -0.0110323 29.467 1.07741e-05 18.9958ZM16.5204 22.2093C16.3327 21.974 16.2452 21.844 16.1381 21.7327C14.9217 20.4704 13.7095 19.2047 12.4812 17.9543C11.8441 17.3062 10.9216 17.3342 10.3456 17.9875C9.82492 18.5787 9.86145 19.4349 10.4595 20.0533C12.0709 21.72 13.6908 23.3781 15.3082 25.0388C16.122 25.8747 16.9027 25.8772 17.7199 25.0414C20.9801 21.7055 24.2395 18.368 27.498 15.0296C28.1904 14.3203 28.2226 13.3859 27.5821 12.7675C26.9612 12.1687 26.0998 12.2341 25.4118 12.94C22.5593 15.8647 19.7085 18.791 16.861 21.72C16.7447 21.8398 16.6665 21.9961 16.5204 22.2093Z" fill="#02A526"/>
</svg>
                  </div>
                  <div class="comp-cnt">
                    <p>Zero side effects</p>
                  </div>
                </div>
              </div>
              <div class="col-6 comp-cnt-box__item">
                <div class="comp-cnt-box">
                  <div class="comp-icon">
                    <svg width="28" height="28" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.0021 0C8.51932 -0.00143051 -0.00714858 8.53076 4.49739e-06 19.0157C0.00715757 29.485 8.52647 37.9986 18.9971 38C29.4835 38.0014 38.0079 29.4714 38 18.985C37.9921 8.51502 29.4728 0.00143051 19.0021 0ZM18.9585 22.0587C18.8398 22.2031 18.7575 22.3219 18.6567 22.4227C17.0086 24.0744 15.3591 25.7239 13.7089 27.3727C13.2446 27.8362 12.8863 27.8405 12.4249 27.3834C11.8412 26.8054 11.2625 26.2225 10.6817 25.6416C10.1373 25.0973 10.1373 24.7833 10.6888 24.231C12.3298 22.5894 13.9714 20.9485 15.6123 19.3069C15.7103 19.2089 15.8026 19.1066 15.9542 18.9464C15.8119 18.8376 15.6867 18.7625 15.5866 18.6631C13.9263 17.0072 12.2682 15.3491 10.6109 13.6903C10.1652 13.2446 10.1638 12.8805 10.608 12.432C11.186 11.8484 11.769 11.2697 12.3498 10.6896C12.9006 10.1395 13.216 10.1359 13.7611 10.6803C15.4113 12.329 17.0608 13.9793 18.711 15.6288C18.8011 15.7189 18.897 15.8026 19.0043 15.902C19.1173 15.794 19.2124 15.7074 19.3033 15.6159C20.9535 13.9664 22.6023 12.3162 24.2525 10.6667C24.779 10.1402 25.103 10.1431 25.6388 10.6767C26.1953 11.2318 26.7504 11.7876 27.3054 12.3433C27.8677 12.9063 27.867 13.2132 27.2997 13.7804C25.6588 15.422 24.0172 17.0629 22.3763 18.7046C22.2861 18.7947 22.201 18.8906 22.0987 19C22.2024 19.1102 22.2883 19.2053 22.3791 19.2961C24.0451 20.9628 25.7124 22.6288 27.3777 24.2961C27.8369 24.7561 27.8369 25.1166 27.377 25.5808C26.8155 26.1474 26.2496 26.7096 25.686 27.2732C25.083 27.8755 24.7976 27.877 24.1989 27.2783C22.5572 25.6373 20.9163 23.9957 19.2747 22.3548C19.1931 22.274 19.1052 22.1967 18.9585 22.0587Z" fill="#C92121"/>
</svg>

                  </div>
                  <div class="comp-cnt">
                    <p>May cause side effects</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-12 col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2"></div>
  </div>

</div>

<style>
  .comp-cnt-box__item {
    border: 1px solid;
  }
  .comp-icon{
    width: 25px;
    height: 25px;
  }
</style>
{% schema %}
{
  "name": "Compare Our PCOS/PCOD",
  "class": "compare",
  "settings": [

  ]
}
{% endschema %}