<div class="container">
  <div class="row">
    <h3 class="title text-center">Frequently Asked Questions</h3>
    <div class="col-sm-12 col-md-7">
      <!-- Accordion -->
<div class="acc-container">        
<div class="acc">
<div class="acc-head">
<p>Is this Solvve pcos supplement doctor approved?</p>
</div>
<div class="acc-content">
<p>Yes, Solvve is a doctor approved supplement to treat and manage the symptoms of PCOD PCOS. </p>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>Can Solvve pcos powder help with weight loss?</p>
</div>
<div class="acc-content">
  <p>Yes, Solvve is indigenously formulated with the following powerful herbs that are clinically proven to aid weight loss.</p>
  <ul>
    <li><b>Shatavari:</b> The  high flavonoid content makes it an effective weight loss supplement.</li>
    <li><b>Turmeric:</b> Stimulates the production of bile, a digestive juice to aid in the digestion and emulsification of fat.</li>
    <li><b>Pepper:</b> Contains fat-busting piperine which helps lose weight naturally.</li>
    <li><b>Cinnamon:</b>  Has  positive effect on blood glucose levels and helps your body  lose weight.</li>
  </ul>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>How long should I take Solvve pcos weight loss supplement?</p>
</div>
<div class="acc-content">
<p>It is recommended to take Solvve continuously for 84 days to regular your periods, speed up the weight loss journey, balance your hormones and improve your overall reproductive health.</p>
</div>
</div>

<div class="acc">
<div class="acc-head">
<p>Is it safe to take PCOS supplements?</p>
</div>
<div class="acc-content">
<p>Yes, it is 100% safe and effective to take Solvve PCOD PCOS supplements to manage various symptoms of PCOD PCOS like irregular periods, heavy flow, abnormal period pain, weight gain, 
  acne, and facial hair. All the ingredients used  - both modern formulations and ancient herbs are clinically tested for safety and efficacy and made in certified manufacturing units under hygienic conditions.</p>
</div>
</div>
  <div class="acc">
<div class="acc-head">
<p>Are there any side effects of taking Solvve pcos supplements for weight loss?</p>
</div>
<div class="acc-content">
<p>No, there are no side effects associated with Solvve. All the ingredients used  - both modern formulations and ancient herbs are clinically tested for safety and efficacy. In our clinical trials, there was 0% side effects reported.</p>
</div>
</div>
  <div class="acc">
<div class="acc-head">
<p>Are there age restriction for taking Solvve pcos supplements?</p>
</div>
<div class="acc-content">
<p> Women over 18 years can safely consume Solvve</p>
</div>
</div>
</div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="ques-box">
       <h3 class="ques-title">Have Any Questions?</h3>
       <p>Chat with our customer support team. Monday - Sunday 9am to 9pm (IST)</p>
       <a href="https://api.whatsapp.com/send?phone=917094958398" class="chat" target="_blank">Start Chat <img src="{{ 'chat.png'|file_url }}"></a>
       <p>You can also contact us via phone or
         email:</p>
       <p class="phn"><img src="{{ 'phone.png'|file_url }}"> +91 7094 958 398</p>
       <p class="mail"><img src="{{ 'mail-1.png'|file_url }}"> hello@getsolvve.com</p>
     </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "FAQ",
    "class":"faq_section",
    "settings": []
  }
{% endschema %}

