<div class="container">
  <div class="row">
    <h3 class="title text-center">Consumer Study</h3>
  </div>
  <div class="consumer-box">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <img class="consum-img" src="{{ 'consum-image.png'| file_url }}">
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="consume-cnt">
        <p><b>120 women with were clinically tested with PCOS PCOD condition took part in our research and consumed one sachet of Solvve continuously for 84 days. The results of the study are as follows-</b></p>
        <div class="con-per-box">
          <h3>92%</h3>
          <p>started getting period on time</p>
          <h3>97%</h3>
          <p>saw reduction in acne & facial hair</p>
          <h3>90%</h3>
          <p>experienced lesser period pain</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "Consumer Study",
    "class":"consumer_study",
    "settings": []
  }
{% endschema %}

