<div class="fluid-container" id="home-slider">
  <div>
    <div class="col-12" data-flickity='{ "cellAlign": "left", "contain": true,"pageDots": false}'>
      {%- for block in section.blocks -%}
        <div class="slider-item">
          <a href="{{ block.settings.image_link }}">
            <picture>
              <source media="(min-width: 601px)" srcset="{{ block.settings.slider_desktop_image | image_url }}">
              <source media="(max-width: 600px)" srcset="{{ block.settings.slider_mobile_image | image_url }}">
              <img
                class="slide-image"
                data-src="{{ block.settings.slider_desktop_image | image_url }}"
                style="width:100%;max-width:100%"
                alt="home page banner">
            </picture>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>


<style>
  #home-slider .flickity-prev-next-button {
    width: 48px;
    height: 48px;
  }
</style>

{% schema %}
  {
    "name": "Slider",
    "class": "home_slider",
    "blocks": [
      {
        "name": "Slider",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "slider_desktop_image",
            "label": "Desktop Image"
          }, {
            "type": "image_picker",
            "id": "slider_mobile_image",
            "label": "Mobile Image"
          }, {
            "type": "url",
            "id": "image_link",
            "label": "Image Link"
          }
        ]
      }
    ]
  }
{% endschema %}