.sign_up_label{
  font-weight:900; 
}
.frm_error{
  border-bottom: 2px solid #e42229 !important;  
}
.address_box{
  background: #F5F5F5 0% 0% no-repeat padding-box;
  padding:10px;
  min-height:150px;
  margin-bottom: 15px;
}
#CustomerLoginForm .page_title,#RecoverPasswordForm .page_title{
  padding:0 0 30px 0;
}
#CustomerEmail,#CustomerPassword,#RecoverEmail,#FirstName,#LastName,#Email,#CreatePassword,#CustomerPasswordConfirmation{
 margin:0 0 30px 0; 
}
#signin,#signup,#RecoverEmail,#CustomerEmail,#CustomerPassword,#FirstName,#LastName,#Email,#CreatePassword,#CustomerPasswordConfirmation,#ResetPassword,#PasswordConfirmation,.acm_but,.recover_btn,.reset_pass{
    border: 1px solid var(--colorBorder); 
    border-top:unset;
    border-left:unset;
    border-right:unset;
    border-radius:unset;
}
#signin,#signup,.recover_btn,.actv_but{
  border-radius:5px;
  border:unset;
}
#RecoverPasswordForm,#ResetSuccess{
  display:none;   
}
/* Order Css */
