<section class="solvve-about-1">
  <h1 class="pg-ttl">Our Story</h1>
<div class="container">
<p>Solvve is a brand made especially to help women with their menstrual cycles. Made with clinically studied ingredients, Our products are safe to use without Side Effects. Solvve helps every woman overcome PCOS, PCOD, Irregular Periods, Cramps/PMS.
</p>
  <p>The true beauty of women is in her health. We believe the communities, the country and ultimately the world are only as strong as the health of the women. That is why we do not want everything to come to an end just for a normal bodily function such as menstruation.</p>
<a href="/products/pcos-pcod" class="btn-solvee cntr btn-solvee-pink">Know More</a>
</div>
</section>
<section class="solvve-about-2">
<div class="container">
<div class="section-header"><h2>We are zero tolerant to anything - that comes in the way of your health. 
</h2></div>
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-About-Doctors.jpg" />
</div>
</section>
{%- comment -%}
<section class="solvve-about-3"> 
<div class="container">
<div class="section-header"><h2>We work with a team of<br/> doctors & experts.</h2></div>
<p>After many years of research and development with our Chief Medical Officer and pharmaceutical<br/>
experts, we finally did it - formulating medicines that would set a new standard.</p>
<div class="solvve-about-3-slick">
<div class="solvve-about-3-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Doc-1.jpg" />
<b>Shermila, MD</b>
<p>Well-Published Research Scientist<br/>Board-Certified in xxx<br/>Faculty at xxx and xxx</p>
</div>
<div class="solvve-about-3-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Doc-2.jpg" />
<b>Shermila, MD</b>
<p>Well-Published Research Scientist<br/>Board-Certified in xxx<br/>Faculty at xxx and xxx</p>
</div>
<div class="solvve-about-3-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Doc-3.jpg" />
<b>Shermila, MD</b>
<p>Well-Published Research Scientist<br/>Board-Certified in xxx<br/>Faculty at xxx and xxx</p>
</div>
<div class="solvve-about-3-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Doc-4.jpg" />
<b>Shermila, MD</b>
<p>Well-Published Research Scientist<br/>Board-Certified in xxx<br/>Faculty at xxx and xxx</p>
</div>  
</div>
<a href="/pages/book-a-consultation" class="btn-solvee cntr btn-solvee-pink">See medical Advisory Board</a>
</div>
</section>
{%- endcomment -%}
<section class="solvve-about-4">
<div class="row g-0">
<div class="col-md-6 solvve-about-4-img"></div>
<div class="col-md-6 solvve-about-4-cnt">  
<div class="section-header"><h2>A few words what Dr.Shankari Randymar has to say about Solvve:</h2></div>
<p>Women all over the world have a right to safe motherhood. They have a right to life. They have a right to live free of gender discrimination and violence. Yet, millions of women experience violence, which takes a great toll on their health and the health of the family and the community. I am happy the brains behind Solvve has taken up this initative for women empowerment and my wishes for them to become a forerunner in the field.</p>  
<a href="/products/pcos-pcod" class="btn-solvee btn-solvee-pink">Shop Now</a>
</div>  
</div>
</section>
<section class="solvve-about-5">
<div class="container">  
<div class="solvve-about-5-width">
<div class="solvve-about-5-cnt">
From responsibly sourcing only the best ingredients, to performing extensive research on our formulas per FDA guidelines, we are devoted to making clean supplement that you can trust.
</div>

<div class="solvve-about-5-one">
  <div class="container">
    <div class="row">
      <div class="about-5-box">
        <h3>We are just not committed, but also CERTIFIED TO SERVE YOU!</h3>
      </div>
    </div>
  </div>
</div>  
<div class="solvve-about-5-slick">
<div class="solvve-about-5-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/sli2.avif?v=1674131437" />
</div>
  <div class="solvve-about-5-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/sli3.avif?v=1674131437" />
</div>
<div class="solvve-about-5-slick-single">
<img src="https://cdn.shopify.com/s/files/1/0577/8577/8315/files/sli31.avif?v=1674131437" />
</div> 
</div>
</div>
</div>  
</section>



<style>
:root{
--button-pink:#fd7c99;  
--solvve-violet:#550863;  
}
body{background:#E5E5E5;}
  .pg-ttl {color: #533092;}
.btn-solvee{display: table;font-weight:bold;padding:10px 35px;color: #fff!important;border-radius: 50px;}
.btn-solvee.cntr{margin:0px auto;}  
.btn-solvee-pink{background-color: var(--button-pink);}
.solvve-about-1{text-align:center;padding: 30px 0px;color: var(--solvve-violet);}  
.solvve-about-1 p{font-size: 22px;margin-bottom:25px; font-family: 'Inter-Bold';}
.solvve-about-2{padding: 30px 0px;text-align:center;} 
.solvve-about-2 .section-header{margin-bottom: 25px;}
.solvve-about-2 .section-header h2{text-align:center;color: #550863;}
.solvve-about-3{padding: 30px 0px;text-align:center;}
.solvve-about-3 .section-header{margin-bottom: 15px;}
.solvve-about-3 .section-header h2{text-align:center; color: #550863;}
.solvve-about-3 .solvve-about-3-slick{margin-bottom:35px;}
.solvve-about-3 .solvve-about-3-slick-single{margin: 0px 15px;}
.solvve-about-3 .solvve-about-3-slick-single b{display: block;margin: 15px 0px;color: var(--solvve-violet);}
.solvve-about-4{padding: 30px 0px;}
.solvve-about-4 .solvve-about-4-img{background-image: url('https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Doctor-Lab-BG.jpg');background-size: cover;background-position: center right;min-height: 620px;}
.solvve-about-4 .solvve-about-4-cnt{background-color: var(--solvve-violet);padding:25px 90px;display:flex;flex-direction:column;justify-content: center;}
.solvve-about-4 .solvve-about-4-cnt .section-header h2{color: var(--button-pink);}
.solvve-about-4 .solvve-about-4-cnt p{color:#fff;position:relative;margin: 35px 0px;}
.solvve-about-4 .solvve-about-4-cnt p:before, .solvve-about-4 .solvve-about-4-cnt p:after{position:absolute;content:"";background:url('https://cdn.shopify.com/s/files/1/0577/8577/8315/files/Solvve-Double-Quotes.svg');width:36px;height:36px;background-size: contain !important;background-repeat: no-repeat !important;background-position: center !important;}
.solvve-about-4 .solvve-about-4-cnt p:before{left:-45px;top:0px}
.solvve-about-4 .solvve-about-4-cnt p:after{transform:scaleX(-1);right:0px;bottom:-20px;}  
.solvve-about-4 .solvve-about-4-cnt .btn-solvee{width: max-content;}
.solvve-about-5{padding: 30px 0px;}
.solvve-about-5 .solvve-about-5-width{max-width:800px;}
.solvve-about-5 .solvve-about-5-cnt{color: var(--solvve-violet);font-size: 28px;margin-bottom: 40px;font-weight: 500;}
.solvve-about-5 .solvve-about-5-slick-single{margin: 0px 25px;}
.solvve-about-5 .solvve-about-5-slick-single img{display:table;margin-bottom: 25px;}
.solvve-about-5 .solvve-about-5-slick-single b { display: block; margin-bottom: 15px; font-family: Inter-Bold; color: #000; }
.solvve-about-6{padding: 30px 0px;background-color: var(--solvve-violet);color:#fff;}

@media only screen and (max-width: 1024px) {
.solvve-about-4 .solvve-about-4-cnt{padding:25px 30px;}  
.solvve-about-4 .solvve-about-4-cnt p{margin: 60px 0px;}
.solvve-about-4 .solvve-about-4-cnt p:before{left: 0px;top: -35px;}
.solvve-about-4 .solvve-about-4-cnt p:after{bottom: -35px;}
}

@media only screen and (max-width: 640px) {
.solvve-about-2 .container{padding:0px;}
.solvve-about-2 .section-header{padding:0px 15px;}
.solvve-about-4 .solvve-about-4-img{min-height:360px;}
.solvve-about-5 .solvve-about-5-slick-single{margin: 0px 15px;}  
  .solvve-about-5 .solvve-about-5-cnt {
    font-size: 20px;
}
}
@media only screen and (max-width: 390px) {
.solvve-about-1 p {
    font-size: 22px;
}
}
@media only screen and (min-width: 1900px) {
.solvve-about-1 p {
    font-size: 34px;
}
.btn-solvee {
    padding: 14px 45px;
}
}
</style>
<script>
$('.solvve-about-3-slick').slick({  
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1.3,
        slidesToScroll: 1
      }
    }    
  ]
});
          
$('.solvve-about-5-slick').slick({  
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [   
    {
      breakpoint: 560,
      settings: {
        slidesToShow: 1.3,
        slidesToScroll: 1
      }
    }    
  ]
});   
</script>