<section class="bok-consul">
 
    <div class="bok-consul-box">
      <div class="bok-consul-box-one desktop-view-only">
        <img class="bok-consul-img" src="{{ 'bacimg.jpg'|asset_url }}">
      </div>
       <div class="bok-consul-box-two">
         <h1 class="d-none">Consultation Form</h1>
          <div class="globo-formbuilder" data-id="ODU5ODE="></div>
       </div>
    </div>
 
</section>

<style>
  .wizard__content p a {
    color: #fff !important;
}
.wizard__content p {
    color: #fff !important;
}
  .bok-consul-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
  .bok-consul-box-one {
    width: 40%;
}
  .bok-consul-box-two {
    width: 60%;
}
  @media only screen and (max-width: 767px){
.bok-consul-box-two {
    width: 100%;
  padding:20px;
}
  }
</style>