<section class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <h2 class="contact-ttl">GET IN TOUCH</h2>
        <div class="cont-add-box">
          <div class="mail-box">
            <div class="one">
              <img src="{{ 'mail.png'|file_url }}">
            </div>
            <div class="two">
              <h4>EMAIL</h4>
              <p>hello@getsolvve.com</p>
            </div>
          </div>
          <div class="add-box">
            <div class="one">
              <img src="{{ 'loc.png'|file_url }}">
            </div>
            <div class="two">
              <h4>ADDRESS</h4>
              <p>128D, Duraiswamy Layout, Peelamedu, Coimbatore,
                Tamil Nadu, 641004.</p>
            </div>
          </div>
        </div>
          <div class="contact_form">
            <h2 class="form-ttl">WRITE TO US</h2>
          {% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
    <div class="row">
      <div class="col-12">
        <input type="text" id="ContactFormName" name="contact[name]" placeholder="Your Name">
      </div>
      <div class="col-12">
        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Your Email Address">
      </div>
      <div class="col-12">
        <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="Your Phone no">
      </div>
      <div class="col-12">
        <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Your Message"></textarea>
      </div>
      <div class="col-12">
        <input class="submit" type="submit" value="SEND MESSAGE">
      </div>
    </div>
{% endform %}
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2">
      </div>

    </div>
  </div>
</section>

<style>
  .contact-page {
    background-image: linear-gradient(180deg, #f4789d 70%, #ffffff 30%);
    padding:60px 0;
}
.cont-add-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px 0px;
}
.mail-box, .add-box {
    display: flex;
    gap: 30px;
    align-items: center;
    background: #ffffff;
    padding: 40px;
  width: 50%;
}
  .one {
    width: 30%;
}
.two {
    width: 70%;
}
  .two h4 {
    color: #BCBCBC;
}
  .contact-ttl {
    text-align: center;
    color:#ffffff;
}
  .contact_form {
    background: #ffffff;
    padding: 40px;
}
  .form-ttl {
    text-align: center;
    padding-bottom: 36px;
    padding-top: 32px;
}
.contact_form input, .contact_form textarea  {
    width: 100%;
    padding: 12px 32px;
    margin-bottom: 16px;
    background: #F7F7F7;
    border: none;
}
.submit {
    font-family: Inter-Bold;
}
#contact_form {
    padding: 0 80px;
}
  .submit {
    background: #FF7C99 !important;
    color: #ffffff;
}
/****** Media *******/
@media (min-width: 768px) and (max-width: 980px) {  
  .mail-box, .add-box {
    gap: 16px;
    padding: 20px;
}
#contact_form {
    padding: 0 16px;
}
}
@media (min-width: 1000px) and (max-width: 1300px){
  .one {
    width: 22%;
}
.consul_icon li img {
    width: 56px;
}
}
@media only screen and (max-width: 767px){
.cont-add-box {
    gap: 20px;
    padding: 20px 0px;
    flex-wrap: wrap;
}
.mail-box, .add-box {
    gap: 12px;
    padding: 7px;
    width: 100%;
}
.contact_form {
    background: #ffffff;
    padding: 20px 0;
}
#contact_form {
    padding: 0 10px;
}
}
  @media only screen and (max-width: 500px){
  .one {
    width: 20%;
}
  }
</style>