<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="section-one">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
    </div>
     <div class="col-md-6 col-sm-12 text-center">
       <p class="subtitle">Women’s Health Supplement</p>
       <h3 class="title">PCOS/PCOD Women’s Health Supplement</h3>
       <p>Solvve is a brand made especially to help women in their menstrual cycles. Made with clinically studied ingredients, & is a combination of ancient science and present technology.</p>
       <p>Solvve is a brand made especially to help women in their menstrual cycles. Made with clinically studied ingredients, & is a combination of ancient science and present technology.</p>
       <div class="aa-cta-btn-customer">
      <a href="#" class="btn aa-cta-btn">Know More</a>
      </div>
     </div>
     <div class="col-md-3 col-sm-12">
    </div>
  </div>
</div>
</section>
<section class="section-two">
  <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
    </div>
     <div class="col-md-6 col-sm-12 text-center">
       <h3 class="title">PCOS/PCOD Women’s Health Supplement</h3>
       <p>Solvve is a brand made especially to help women in their menstrual cycles. Made with clinically studied ingredients, & is a combination of ancient science and present technology.</p>
     </div>
     <div class="col-md-3 col-sm-12">
    </div>
  </div>
</div>
  <div class="content">
    
    <div class="container">

      <div class="d-flex carousel-nav">
        <a href="#" class="col active">First Tab</a>
        <a href="#" class="col">Second Tab</a>
        <a href="#" class="col">Third Tab</a>
      </div>


      <div class="owl-carousel owl-1">

        <div class="media-29101 d-md-flex w-100">
          <div class="img">
            <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <a class="category d-block mb-4" href="#">Travel &mdash; First Tab</a>
            <h2><a href="#">Take your mobile photography to the next level</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fuga optio dolorem, fugit voluptates sint ducimus praesentium iste!</p>
          </div>
        </div> <!-- .item -->

        <div class="media-29101 d-md-flex w-100">
          <div class="img">
            <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <a class="category d-block mb-4" href="#">Travel &mdash; Second Tab</a>
            <h2><a href="#">Take your mobile photography to the next level</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fuga optio dolorem, fugit voluptates sint ducimus praesentium iste!</p>
          </div>
        </div> <!-- .item -->

        <div class="media-29101 d-md-flex w-100">
          <div class="img">
            <img src="images/hero_3.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <a class="category d-block mb-4" href="#">Travel &mdash; Third Tab</a>
            <h2><a href="#">Take your mobile photography to the next level</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fuga optio dolorem, fugit voluptates sint ducimus praesentium iste!</p>
          </div>
        </div> <!-- .item -->

        

      </div>
    </div>
  </div>
</section>
<section class="section-three text-center">
  <div class="container">
    <div class="row">
      <h3>PCOS/PCOD Women’s Health Supplement</h3>
      <div class="aa-cta-btn-customer">
      <a href="#" class="btn aa-cta-btn">Know More</a>
      </div>
    </div>
  </div>
</section>
  <style>
    
.col {
    position: relative;
}

.owl-1 .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%; }
  .owl-1 .owl-nav .owl-next,
  .owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 50%; }
    .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
    .owl-1 .owl-nav .owl-prev:active,
    .owl-1 .owl-nav .owl-prev:focus {
      outline: none; }
    .owl-1 .owl-nav .owl-next span,
    .owl-1 .owl-nav .owl-prev span {
      color: #fff; }
      .owl-1 .owl-nav .owl-next span:before,
      .owl-1 .owl-nav .owl-prev span:before {
        font-size: 40px !important; }
  .owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px; }
  .owl-1 .owl-nav .owl-prev {
    left: 20px; }

.owl-1 .owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block; }
    .owl-1 .owl-dots .owl-dot > span {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      margin: 4px; }
    .owl-1 .owl-dots .owl-dot.active > span {
      background: white; }
    .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
      outline: none; }

.media-29101 .img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.media-29101 .text {
  padding: 50px; }
  @media (max-width: 991.98px) {
    .media-29101 .text {
      padding: 20px;
      width: 100%; } }
  .media-29101 .text .category {
    color: #adb5bd;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem; }
  .media-29101 .text h2 {
    font-family: "Playfair Display", times, serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 30px; }
    .media-29101 .text h2 a {
      color: #000; }

.carousel-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px; }
  .carousel-nav a {
    color: #999;
    padding: 20px;
    text-align: center;
    display: inline-block; }
    .carousel-nav a:hover {
      color: #000; }
    .carousel-nav a.active {
      color: #000; }
      .carousel-nav a.active:before {
        content: "";
        bottom: -1px;
        left: 0;
        right: 0;
        position: absolute;
        border-bottom: 1px solid #000; }
  </style>

  <script>
    $(function() {

	var owl = $('.owl-1');
    owl.owlCarousel({
        loop:false,
        margin:0,
        nav:false,
        dots: false,
        items: 1,
        smartSpeed: 1000,
        autoplay: false,
        navText: ['<span class="icon-keyboard_arrow_left">', '<span class="icon-keyboard_arrow_right">']
    });
     
    var carousel_nav_a = $('.carousel-nav a');

    carousel_nav_a.each(function(slide_index){
        var $this = $(this);
        $this.attr('data-num', slide_index);
        $this.click(function(e) {
            owl.trigger('to.owl.carousel',[slide_index,1500]);
            e.preventDefault();
        })
    })

    owl.on('changed.owl.carousel', function(event) {
        carousel_nav_a.removeClass('active');
        $(".carousel-nav a[data-num="+event.item.index+"]").addClass('active');
    })

	
})
  </script>